/* CSS CODE HERE */
*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}
img{
    vertical-align: middle;
}
#navbarlist{
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding-top: 30px;  
    text-align: center;
}
#uberlogo{
    height: 16px;
    padding-bottom: 5px;
}
#drivewithubersection{
    height: 1000px;
    width: 100%;
    padding-left: 300px;
}
#drivewithuberpicture{
    background-image: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,g_north,w_2560,h_1734/v1558483958/assets/3a/b709e3-54eb-4f13-8618-2bf08addf5dd/original/earn_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1280px;
    height: 867px;
}
#drivewithubersection{
    height: 1000px;
    width: 100%;
    padding-left: 300px;
}
#secondnavbarlist{
    height: 120px;
    max-width: 1032px;
    left: 130px;
    top: 70px;
    background-color: white;
    position: relative;
    justify-self: center;
    text-align: center;
    opacity: .98;
}